
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Busca por ID</title>
</head>
<body>
    <div class="jumbotron vertical-center">
        <div class="container">
            <div class="row-fulid">
                <h1 align="center">Buscar por ID</h1>

                <form class="form-signin" method="post" action="/Categoria/BuscaID">
                    <input class="form-control" type="text" placeholder="Informe o ID" name="id" required /><br /><br />
                    <button class="btn btn-lg btn-block" style="background-color: #4800ff; color: white; " type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
