@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Créditos</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#4b4bff">
        <div class="collapse navbar-collapse" id="navbarsupportedcontent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link active" style="color:black" href="/Categoria">Listar Categorias</a></li>
                <li class="nav-item"><a class="nav-link active" style="color:black" href="/Categoria/Adicionar">Adicionar Categoria</a></li>
                <li class="nav-item"><a class="nav-link active" style="color:black" href="/Categoria/Buscar">Buscar Categoria</a></li>
                <li class="nav-item"><a class="nav-link active" style="color:black" href="/Categoria/Creditos">Créditos</a></li>
            </ul>
        </div>
    </nav>

    <div align="center">
        <h1>Bruno Paranhos Silva    CB3005437</h1>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>