
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Categorias</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#4b4bff">
        <div class="collapse navbar-collapse" id="navbarsupportedcontent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link active" style="color:white" href="/Categoria">Listar Categorias</a></li>
                <li class="nav-item"><a class="nav-link active" style="color:white" href="/Categoria/Adicionar">Adicionar Categoria</a></li>
                <li class="nav-item"><a class="nav-link active" style="color:white" href="/Categoria/Buscar">Buscar Categoria</a></li>
                <li class="nav-item"><a class="nav-link active" style="color:white" href="/Categoria/Creditos">Créditos</a></li>
            </ul>
        </div>
    </nav>

        <h1 align="center">Categorias</h1>

        @if (ViewBag.Categorias != null)
        {
            <table class='table table-borderless table-striped table-hover'>
                <thead>
                    <tr>
                        <th scope='col'>ID</th>
                        <th scope='col'>Nome</th>
                        <th scope='col'>Descrição</th>
                        <th scope='col' />
                        <th scope='col' />
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in ViewBag.Categorias)
                    {
                        <tr>
                            <td scope='row'>@item.Id</td>
                            <td scope='row'>@item.Nome</td>
                            <td scope='row'>@item.Desc</td>
                            <td scope='row'><a href="/Categoria/Atualizar?id=@item.Id">Atualizar</a></td>
                            <td scope='row'>
                                <form action="/Categoria/Exclui" method="post">
                                    <input type="hidden" value="@item.Id" name="id" />
                                    <a href="#" onclick="this.parentNode.submit();">Excluir</a>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h1 align="Center">Nenhuma cateoria encontrada</h1>
        }
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
